*{
    margin: 0;
    padding: 0;
}

.card__cont{
    width: 100%;
    height: 100vh;
    background-image: url("../images/image4.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    
  
   
}
.cont_card{
    width: 400px;
    height: 400px;
    display: flex;
   
}